.dashboard {
  width: 100%;
  min-height: 100vh;
}
/* Navigation bar  */
.navigation__bar__d {
  min-width: 15%;
  max-width: 15%;
  background: white;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(35, 35, 35);
}
.navigation__bar__d > div {
  width: 100%;
}
.navigation__bar__d button {
  height: 60px;
  padding: 10%;
  min-width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  margin-bottom: 2.5%;
  transition: all 0.3s ease;
  filter: invert(1);
}
.navigation__bar__d button img {
  width: 20px;
}
.navigation__bar__d button:hover {
  background: rgb(182, 182, 182);
}
@media screen and (max-width: 800px) {
  .navigation__bar__d button p {
    display: none;
  }
  .navigation__bar__d button img {
    width: 30px;
  }
  .account__pic__d {
    transform: scale(0.8);
  }
}
.navigation__bar__d img {
  width: 20px;
}
.navigation__bar__d button p {
  font-size: 12px;
  text-align: right;
}
.account__pic__d {
  margin: 10%;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  background: white;
}
/* MAIN BODY  */
.body__d {
  min-width: 85%;
  max-width: 85%;
  max-height: 100vh;
  height: 100vh;
  background: white;
  justify-content: start;
  overflow-y: scroll;
  padding: 0;
  flex-direction: column;
}
/* Main  */
.main__d {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  min-height: 100vh;
}
.info__d {
  padding: 5%;
  width: 90%;
  height: 100vh;
  background: #0f2027;
  background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  color: white;
  justify-content: space-between;
}
.heading__graph {
  margin: 2.5% 0px;
}
.counter__sessions {
  font-size: 25px;
  font-weight: bold;
}
.info__d h2 {
  font-size: 30px;
}
.stats__d {
  width: 100%;
  justify-content: space-between;
}
.stats__d img {
  padding: 5%;
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.stats__d > div {
  padding: 5%;
  width: 50%;
}
.stats__d > div h2 {
  background: #ff6b6b;
  padding: 2.5%;
  margin: 10px 0px;
  border-radius: 10px;
  width: fit-content;
}
.badges__d {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.badges__d > h1 {
  color: white;
}
.badges__cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: scroll;
}
.coupon__cards {
  min-height: 250px;
  min-width: 400px;
  position: relative;
  padding: 2.5%;
  flex-direction: column;
  align-items: flex-start;
  background-position: center center !important;
  background-size: cover !important;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.coupon__cards:hover .coupon__card__overlay {
  display: flex !important;
}
.badges__cards::-webkit-scrollbar {
  display: none;
}
.coupon__cards h2 {
  color: white;
  font-size: 40px;
}
.coupon__cards p {
  padding: 2.5%;
  background: white;
  border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .coupon__cards {
    transform: scale(0.9);
  }
  .stats__d {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .stats__d > div {
    padding: 5%;
    width: 90%;
  }
  .stats__d img {
    display: none;
  }
  .info__d {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
  }
}
.coupon__card__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);
  min-width: 150px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: none !important;
}
/* Graph  */
.graph__d {
  min-height: 100vh;
  min-width: 100%;
  background: white;
  justify-content: space-evenly;
}
.radar {
  height: 400px;
  width: 100%;
}
.previous__data {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  overflow-x: scroll;
  min-height: 200px;
}
.previous__data::-webkit-scrollbar {
  display: none;
}
.score__card {
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #343a40;
}
.score__card:hover {
  transform: scale(1.1);
  z-index: 2;
}
.date__d {
  font-size: 12px;
  background: #ff6b6b;
  height: 50%;
  border-radius: 10px;
  padding: 10px;
}

/* Upcoming Sessions Section */
.sessions__d {
  width: 100%;
}
.book__session__button {
  justify-content: space-between;
  background: #ff6b6b;
  height: 15vh;
  padding: 2.5%;
}
.book__session__button > a > button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.book__session__button > a > button:hover {
  color: white;
}
.upcoming__sessions {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
}
.upcoming__sessions::-webkit-scrollbar {
  display: none;
}
.session__card {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
  width: 150px;
  background: #4ecdc4;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.session__card > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.session__card p {
  padding: 10px;
  background: #f7fff7;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}
.book__sessions {
  justify-content: flex-start;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  background: url("../../assets/bg/bgplan.png") no-repeat center center;
  background-size: cover;
  background-size: cover;
}
.book__sessions::-webkit-scrollbar {
  display: none;
}
.mood__insert__div {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}
.close__insert {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
}
.mood__insert {
  width: 50%;
  height: 50%;
  background: white;
  padding: 2.5%;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.emojis__div {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}
.emojis__div button {
  padding: 10px 15px;
  font-size: 35px;
  border: none;
  background: white;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.emojis__div button:hover {
  background: black;
}
@media screen and (max-width: 800px) {
  .mood__insert {
    width: 100%;
    height: 100%;
  }
}
/* INFO PAGE */
.info__page {
  width: 95%;
  min-height: 100vh;
  padding: 2.5%;
}
.info__portal {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5%;
}
.field__title {
  font-size: 10px;
  color: grey;
}
.edit__img {
  width: 20px;
}
.feild {
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
}
.delete__account__button {
  background: #fff;
  padding: 15px 25px;
  border: 2px solid #d62828;
  transition: all 0.3s ease;
  color: #d62828;
  cursor: pointer;
  margin: 5% 0;
}
.delete__account__button:hover {
  background: #d62828;
  color: #fff;
}
.feild input,
.feild textarea {
  border: none;
  background: none;
  border: 1px solid rgb(165, 165, 165);
  padding: 15px;
  border-radius: 30px;
  min-width: 250px;
}
.feild input:focus,
.feild textarea:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
.feild button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}
.feild button:hover {
  background: #dddddd;
}
.feild > div {
  display: flex;
}
