.footer_m {
  background: #1a535c;
  flex-direction: column;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  justify-content: space-evenly;
  padding: 2.5%;
  width: 95%;
}
.footer > div {
  width: 100%;
}
.footer img {
  width: 40%;
}
.right__footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.right__footer > div {
  display: flex;
  flex-direction: column;
}
.social__links {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
}
.social__links img {
  width: 40px;
  margin: 10px;
}
.social__links svg {
  width: 40px;
  height: 40px;
  margin: 10px;
  fill: white;
}
.social__links svg:hover {
  fill: #ff6b6b;
}
.nav__link {
  min-width: 70px;
  margin: 10px;
}
.left__footer {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white;
  font-weight: bold;
  min-width: 500px;
}
.left__footer > p {
  width: 100%;
}
.footer .nav__link {
  color: white;
  font-size: 15px;
}
.conditions {
  width: 100%;
}
.conditions a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 12px;
}
@media screen and (max-width: 1070px) {
  .footer {
    grid-template-columns: repeat(1, 0fr);
    width: auto;
  }
  .footer > div {
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .footer_m {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .footer_m {
    width: 95%;
    padding: 2.5%;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
  }
  .nav__link {
    font-size: 12px !important;
  }
  .left__footer {
    width: fit-content;
    display: none;
  }
  .right__footer {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    align-items: center;
  }
}
